<div class="window" id='myModal_account_content' ng-show="showEditPasswordModal">
    <div class="pop_up" id='myModal_account'>
        <div class="pop_up_center">
            <a href="#"><img src="/assets/callburn/images/000.png" class="exit exit_account"></a>
            <div class="pop_up_text">
                <h1>{{trans('title_edit_password')}}</h1>
                <span class="pop_up2_span">{{trans('text_edit_password')}}</span>
            </div>
            <div class="account_popup">
                <input type="hidden" id="oldPassword" class="account_popup_content" placeholder="{{trans('solder_edit_password')}}" ng-model="editPasswordData.old_password" /> 
                <input type="hidden" id="newPassword" class="account_popup_content" placeholder="{{trans('solder_new_password')}}" ng-model="editPasswordData.new_password" /> 
                <input type="hidden" id="newPasswordConfirmation" class="account_popup_content" placeholder="{{trans('solder_password_confirmation')}}" ng-model="editPasswordData.new_password_confirmation" />
            </div>
            <button type="submit" class="account_popup_btns">
                <img src="/assets/callburn/images/refresh.png">
                <span class="account_btns_title exit_account">
                    {{trans('save_password')}}
                </span>
            </button>
        </div>
    </div>
</div>