<div class="window" id='myModal_credit_content' ng-show="showPaymentModal">
    <div class="pop_up" id='myModal_credit' >
        <div class="pop_up_center">
            <a href="#"><img src="/assets/callburn/images/000.png" class="exit exit_credit" ng-click="closePaymentModal()"></a>
            <div class="pop_up_text">
                <h1>{{trans('title_credit')}}</h1>
                <span class="pop_up2_span">{{trans('text_credit')}}</span>
            </div>
            <div class="account_popup1">
                <input type="text" id="f_name" class="account_popup_content" placeholder="{{trans('first_name')}}" ng-model="rechargeData.first_name" />
                <input type="text" id="l_name" class="account_popup_content" placeholder="{{trans('last_name')}}" ng-model="rechargeData.last_name" />
                <input type="text" id="number" class="account_popup_content" placeholder="{{trans('number')}}" ng-model="rechargeData.number" />
                <input type="text" id="expiry_month" class="account_popup_content" placeholder="{{trans('expiry_month')}}" ng-model="rechargeData.expiry_month" />
                <input type="text" id="expiry_year" class="account_popup_content" placeholder="{{trans('expiry_year')}}" ng-model="rechargeData.expiry_year" />
                <input type="text" id="cvv" class="account_popup_content" placeholder="{{trans('cvv')}}" ng-model="rechargeData.cvv" />
                <input type="text" id="billing_address1" class="account_popup_content" placeholder="{{trans('billing_address1')}}" ng-model="rechargeData.billing_address1" />
            </div>
            <div class="account_popup1">   
                <input type="text" id="billing_country" class="account_popup_content" placeholder="{{trans('billing_country')}}" ng-model="rechargeData.billing_country" />
                <input type="text" id="billing_city" class="account_popup_content" placeholder="{{trans('billing_city')}}" ng-model="rechargeData.billing_city" />
                <input type="text" id="billing_postcode" class="account_popup_content" placeholder="{{trans('billing_postcode')}}" ng-model="rechargeData.billing_postcode" />
                <input type="text" id="billing_state" class="account_popup_content" placeholder="{{trans('billing_state')}}" ng-model="rechargeData.billing_state" />
                <input type="text" id="amount" class="account_popup_content" placeholder="{{trans('amount')}}" ng-model="rechargeData.amount" />
                <input type="text" id="currency" class="account_popup_content" placeholder="{{trans('currency')}}" ng-model="rechargeData.currency" />
            </div>
            <button ng-click="makePayment()" class="account_popup_btns">
                <img src="/assets/callburn/images/refresh.png">
                <span class="account_btns_title exit_credit">
                    {{trans('save_credtit')}}
                </span>
            </button>
        </div>
    </div>
</div> 