<div class="window" id='myModal_remove_number_content' ng-show="showRemoveNumberConfirmationModal">
    <div class="pop_up" id='myModal_remove_number'>
        <div class="pop_up_center">
            <a href="#" ng-click="closeRemoveNumberModal()"><img src="/assets/callburn/images/000.png" class="exit exit_remove_number"></a>
            <div class="pop_up_text">
                <h1>{{trans('title_remove_number')}}</h1>
                <span class="pop_up2_span">{{trans('text_remove_number')}}</span>
                <div class="account_popup">
                    <a href="#" id='add_link_remove_number' class="account_popup_btns" ng-click="removeNumber(numberIdToBeRemoved)">{{trans('yes')}}</a>
                    <a href="#" class="account_popup_btns exit_remove_number" ng-click="closeRemoveNumberModal()">{{trans('no')}}</a>
                </div>
            </div>
        </div>
    </div>
</div>