	<section class="contact_us_container">
		<div class="contact_us_content_container">
			<span class="contact_us_sp1">{{trans('docs_text_how_we_can_help_you1')}} <b>{{trans('docs_text_how_we_can_help_you2')}}</b> {{trans('docs_text_how_we_can_help_you3')}}?</span>
			<div class="contact_us_content">
				<img src="../../../../assets/callburn/images/front_account/chat-icon.png" class="contact_us_content_icon">
				<span class="contact_us_sp2">{{trans('docs_live_chat')}}</span>
				<span class="contact_us_sp3">{{trans('docs_text_live_chat')}}</span>
			</div>
			<div class="contact_us_content">
				<img src="../../../../assets/callburn/images/front_account/docs-icon.png" class="contact_us_content_icon">
				<span class="contact_us_sp2">{{trans('docs_look_our_documentation')}}</span>
				<span class="contact_us_sp3">{{trans('docs_text_because_is_very_detailed')}} :-)</span>
			</div>
			<div class="contact_us_content">
				<img src="../../../../assets/callburn/images/front_account/contract-icon1.png" class="contact_us_content_icon">
				<span class="contact_us_sp2">{{trans('docs_are_we_offline')}}</span>
				<span class="contact_us_sp3">{{trans('docs_text_sometimes_we_maybe_offline')}}</span>
			</div>
		</div>
		<div class="contact_us_content_container">
			<span class="contact_us_sp1">
				<img src="../../../../assets/callburn/images/front_account/our-offices.png" class="contact_us_text_icon">
				{{trans('docs_our_offices1')}} <b>{{trans('docs_our_offices2')}}
			</span>
			<span class="contact_us_sp5">({{trans('docs_text_spanish_company')}})</span>
			<div class="contact_us_content">
				<span class="contact_us_sp4">{{trans('docs_armenia')}}</span>
				<span class="contact_us_sp3">{{trans('docs_text_callburn_services1')}}</span>
			</div>
			<div class="contact_us_content">
				<span class="contact_us_sp4">{{trans('docs_spain')}}</span>
				<span class="contact_us_sp3">{{trans('docs_text_callburn_services2')}}</span>
			</div>
			<div class="contact_us_content">
				<span class="contact_us_sp4">{{trans('docs_italy')}}</span>
				<span class="contact_us_sp3">{{trans('docs_text_callburn_services3')}}</span>
			</div>
		</div>
	</section>




<!-- 	<section id="content">
		<div id="contnet_center">
			<div id="offices">
				<img src="../../../../assets/callburn/images/front_account/our-offices.png">
				<span>{{trans('docs_our_offices1')}} <b>{{trans('docs_our_offices2')}}</b></span>
				<p>({{trans('docs_text_spanish_company')}})</p>
			</div>
			<div id="offices_blocks">
				<div class="offices_block">
					<span class="offices_block_title">{{trans('docs_armenia')}}</span>
					<span class="offices_block_description">
						{{trans('docs_text_callburn_services1')}}
					</span>
				</div>
				<div class="offices_block">
					<span class="offices_block_title">{{trans('docs_spain')}}</span>
					<span class="offices_block_description">
						{{trans('docs_text_callburn_services2')}}
					</span>
				</div>
				<div class="offices_block">
					<span class="offices_block_title">{{trans('docs_italy')}}</span>
					<span class="offices_block_description">
						{{trans('docs_text_callburn_services3')}}
					</span>
				</div>
			</div>
		</div>
	</section>

 -->