.api{
  .btn{
    min-height: 0;
  }
  .dropdown-menu{
    margin-left: -72px;
  }
  .title{
    font-family: Helvetica-Light;
    font-size: 18px;
    i{
      font-size: 20px;
      padding-left: 10px;
      &:hover{
        color: $callburn-blue;
        font-weight: 300;
      }
     }
  }
  .item{
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    }
    .btn-add{
      display: block;
      clear: both;
      margin-top: 20px;
    }
    .btn-item{
      min-width: 191px;
    }
    .icon-api{
      &:hover{
      background-image: url("../images/api.png");
      }
    }
}
.api-modal{
  .close{
    span{
      font-size: 40px;
      font-family: Helvetica;
      color: $callburn-gray;

    }
  }
  .modal-header{
    border-bottom: none;
  }

}
