.compose_now {

.disabled-container{
  display: block;
  background-color: rgba(255,255,255,0.4);
  width: 100%;
  height: 115vh;
  position: absolute;
  z-index: 9000;


}
  .step3{
    h3{
      margin-top: 20px;
      display: block;
    }
    .item{
      .grey{
        background-color : $callburn-grey-disabled;
      }
      .email{
        margin-top: 20px;
        padding: 10px;
        border-radius: 4px;
        padding-left: 20px;
      }
      .bordered{
        border-radius: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        span{
          display: block;
          float: left;
          padding: 20px;
        }
        a{
          margin-top: 20px;
          display: block;
          float: left;
        }
      }
    }
    .mt-30{
      margin-top: 30px;
    }
  }
  .rectangle{
    width: 29%;
    display: block;
    float: left;
    font-size: 20px;
    color: $callburn-blue;
    cursor: pointer;
    height: 34px;
    &.diabled{
      background-color: $callburn-border;
      cursor: not-allowed;
    }
    .rectangle-pluse{
      margin-top: 4px;
    display: block;
    margin-left: -5px;
    }
    .rectangle-minus{
      margin-top: 4px;
    display: block;
    margin-left: -5px;
    }
  }
  .margin-bootom-10{
    margin-bottom: 10px;
  }
  .no-bordering{
   border-bottom: none;
   border-top: none;
    border-radius: 0;
  }
  .repitations{
    padding: 20px;
  }
  h1 {
    color: $callburn-gray;
    font-family: HelveticaNeue;
    font-size: $font-size-heading;
    padding-left: 30px;
  }
  .compose_sp{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .characters_count{
    display: block;
    width: 100%;
    border: 1px solid $callburn-border;
    padding: 12px 6px;
    margin-bottom: 10px;
  }
  .voice{
    padding: 13px;
    margin-bottom: 20px;
    border : 1px solid $callburn-border;
    & .bordered{
      padding: 4px;

      border: 1px solid $callburn-border;
    }
  }
  .phonebook{
  padding: 13px;
  margin-bottom: 20px;
  border : 1px solid $callburn-border;
  img{
    margin-right: 10px;
  }
  & .bordered{
    padding: 4px;

    border: 1px solid $callburn-border;
}
}
  .voice_container{
    & .active{
      span{
        color: $white;
      }
      div{

      }
      background-color: $callburn-blue;
    }

    &:nth-child(1),&:nth-child(4),&:nth-child(7),&:nth-child(10){
      padding-left: 0;
    }
    &:nth-child(3),&:nth-child(6),&:nth-child(9){
      padding-right: 0;
    }
  }
  .filter{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .table{
    .phone{
      padding-left: 20px;
    }
    & .success{
      color : $callburn-blue;
    }
    & .warrning{
      color: $callburn-warning;
    }
  }
}
.call-item{
  width: 20%;
  float: left;
  cursor: pointer;
  &.active{
    background-color: $callburn-blue;
    color: $white;
  }
}
.container-section{
  border-radius: 3px;
  padding : 20px;
}

.success{
  color : $callburn-blue;
}
.warrning{
    color: $callburn-warning;
}

.compose_method span.ui-select-placeholder{
  padding-left: 8px !important;
}

.modal-body .compose_method .select-second-type ul li {
  list-style-type: none;
  display: inline-block;
}




