.statistic{
  .header{
    h1{
      margin: 0;
      font-weight: normal;

    }
    a{
      display: block;
      margin-top: 20px;
    }
  }
  .container-section{
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    h3{
      margin: 0;
      margin-bottom: 10px;
      color: $callburn-gray;
    font-weight: normal;
    }
  }
  .image-select{
    width: 20px;
    margin-top: 10px;
  }
  input{
    margin-top: 30px;
  }
  .choose_lang_and_voice_container{
    span{
      display: block;
      margin-bottom: 10px;
    }
  }
  .select-open{
    width: 89%;
  }
  table{
    .actions {
      float: right;
      img{
        opacity: 0.7;
        float: right;
        &:last-child{
          margin-left: 10px;
          float : right;
        }
        &:hover{
          opacity: 1;
        }
      }
      a{
        float: left;
      }
    }
  }

}
.batch-send-status{
  color: $callburn-orange;
  display: block;
  font-size: 11px;
}
th{
  cursor: pointer;
  .dropdown,.dropup{
    color: $white;

  }
  &:hover{
    .dropdown,.dropup{
      color: $callburn-gray;
    }
  }
  &.active{
    .dropdown,.dropup{
      color: $callburn-blue;
    }
  }
}