.templates{
  .callburn-checkbox-white{
    float: left;
    margin-left: 25px;
  }
  .filter-down{
  margin-top: 15px;
  }
  .btn-add{
    margin-top: 18px;
    min-height: 30px;
  }

}
.templates-add-modal{
  .modal-footer{
    border-top: none;
  }
  .tab-pane{
    margin-top: 20px;

  }
  .compose_sp{
    display: block;
    margin-bottom: 20px;
  }
}
