<div class="background">
    <ng-include src="'/app/templates/header.html'" ng-controller="HeaderController"></ng-include>
    <a>
        <div class="top_icon">
            <img src="/assets/callburn/images/8.png" class="icon" />
            <h5>{{trans('title_edit_account')}}</h5>
        </div>
    </a>
    <div class="create">
        <div class="create_center">
            <span class='error' id="error_green1" ng-show="editAccountMainSuccessMessage">*{{editAccountMainSuccessMessage}}</span>
            <span class='error' id="error_red1" ng-show="editAccountMainErrorMessage">*{{editAccountMainErrorMessage}}</span>
            <h1 class="account_title">{{trans('title_edit_account')}}</h1>
            <div class="account_content">
                <div class="account_content_right">
                    <div class="account_rows_title">
                        <span class="account_titles">{{trans('electronico')}}</span>
                        <span class="account_titles">{{trans('zona')}}</span>
                        <span class="account_titles">{{trans('facturacion')}}</span>
                        <span class="account_titles">{{trans('patos')}}</span>
                    </div>
                    <div class="account_rows">
                        <span class="account_titles">{{currentUser.email}}</span>

                        <select ng-model="userEditableData.timezone">
                            <option ng-selected="timezone == currentUser.timezone" ng-repeat="timezone in timezones" value="{{timezone}}">{{timezone}}</option>
                        </select>
                        <!--<callburn-select ng-model="userEditableData.timezone"
                                         options="timezones"
                                         show-attr="timezone"
                                         keep-attr='timezone'
                                         image-attr="images"
                                         image-url="/assets/callburn/images/Attachment.png"
                                         select-text="Here set text">

                        </callburn-select>-->
                        <div class="account_data_container">
                            <div class="account_data_titles">
                                <span class="account_titles">{{trans('first_name')}}:</span>
                                <span class="account_titles">{{trans('last_name')}}:</span>
                                <span class="account_titles"> {{trans('vat')}}:</span>
                                <span class="account_titles">{{trans('address')}}:</span>
                            </div>
                            <div class="account_data_rows">
                                <input type="text" class="account_data" ng-model="userEditableData.first_name"/>
                                <input type="text" class="account_data" ng-model="userEditableData.last_name"/>
                                <input type="text" class="account_data" ng-model="userEditableData.vat"/>
                                <input type="text" class="account_data" ng-model="userEditableData.address"/>
                            </div>
                        </div>
                        <button class="save_btn hvr-wobble-vertical" ng-click="editMainDetails()">Save</button>
                        <div class="account_btns_container">
                            <span class="account_btns hvr-wobble-vertical" id='show_compiar' ng-click="showEditPasswordModal = true;">
                                <img src="/assets/callburn/images/33.png">
                                <span class="account_btns_title">
                                    {{trans('change_password')}}
                                </span>
                            </span>
                            <span class="account_btns hvr-wobble-vertical" id='show_compiar_email' ng-click="showEditEmailModal = true;">
                                <img src="/assets/callburn/images/34.png">
                                <span class="account_btns_title">
                                    {{trans('email')}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="account_content_left">
                    <div class="account_content_left_title_container">
                        <span class="account_titles">{{trans('credit')}}</span>
                        <span class="account_titles">{{trans('telephone_title')}}</span>
                    </div>
                    <div class="account_content_left_contact_list_container">
                        <div class="credite">
                            <span class="credit_value">{{currentUser.balance}} $</span>
                            <span class="credit_btn hvr-wobble-vertical" id='show_credit' ng-click="showPaymentModal = true;" >
                                <img src="/assets/callburn/images/36.png">
                                <span class="account_btns_title">
                                    {{trans('resargar_credito')}}
                                </span>
                            </span>
                        </div>
                        <div class="account_contact_list">
                            <table id='caller_id_content'>
                                <tr ng-repeat="number in currentUser.numbers">
                                    <td class="account_titles_table">{{number.phone_number}}</td>
                                    <td class="account_titles_table"></td>
                                    <td>
                                        <img ng-click="openRemoveNumberModal(number._id)" src="/assets/callburn/images/basket.png" class='remove_number_show'>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <div class="phone_number_input" id='success_number'>
                            <span class='error' id="error_red1" ng-show="errorMessage">*{{errorMessage}}</span>
                            <span class='error' id="error_green1" ng-show="successMessage">*{{successMessage}}</span>
                            <div class="account_contact_name">
                                <span class="account_titles">{{trans('phone_number')}}</span>
                                <input type="text" ng-model="verificationCall.phonenumber" id="val_success" placeholder="{{trans('telephone_val')}}" class="account_input" />
                            </div>
                            <div class="account_phone_number" ng-show="isVerificationCallMade">
                                <span class="account_titles">{{trans('voice_code')}}</span>
                                <input type="text" ng-model="verificationCall.voice_code" id="number_val" placeholder="{{trans('code')}}" class="account_input" />
                            </div>
                            <span id='reg_success' class="account_phone_btn hvr-wobble-vertical" ng-show="isVerificationCallMade" ng-click="checkVerificationCode()">
                                <img src="/assets/callburn/images/35.png">
                                <span class="account_btns_title">
                                    {{trans('save_telephone')}}
                                </span>
                            </span>
                            <span id='reg_success' class="account_phone_btn hvr-wobble-vertical" ng-hide="isVerificationCallMade" ng-click="sendVerificationCall()">
                                <img src="/assets/callburn/images/35.png">
                                <span class="account_btns_title">
                                    {{trans('save_telephone')}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="icons_container">
        <a ui-sref="create-campaign">
            <img src="/assets/callburn/images/7.png" class="icon" />
        </a>    
        <a ui-sref="dashboard">
            <img src="/assets/callburn/images/9.png" class="icon" />
        </a>            
    </div>

    <!-- PAYMENT POPUP -->
    <div class="window" id='myModal_credit_content' ng-show="showPaymentModal">
        <div class="pop_up" id='myModal_credit' >
            <div class="pop_up_center">
                <a href="#"><img src="/assets/callburn/images/000.png" class="exit exit_credit" ng-click="showPaymentModal = false;"></a>
                <span class='error' id="error_red1" ng-show="creditRechargeErrorMessage">*{{creditRechargeErrorMessage}}</span>

                <div class="pop_up_text">
                    <h1>{{trans('title_credit')}}</h1>
                    <span class="pop_up2_span">{{trans('text_credit')}}</span>
                </div>
                <div class="account_popup1">
                    <input type="text" id="f_name" class="account_popup_content" placeholder="{{trans('first_name')}}" ng-model="rechargeData.first_name" />
                    <input type="text" id="l_name" class="account_popup_content" placeholder="{{trans('last_name')}}" ng-model="rechargeData.last_name" />
                    <input type="text" id="number" class="account_popup_content" placeholder="{{trans('number')}}" ng-model="rechargeData.number" />
                    <input type="text" id="expiry_month" class="account_popup_content" placeholder="{{trans('expiry_month')}}" ng-model="rechargeData.expiry_month" />
                    <input type="text" id="expiry_year" class="account_popup_content" placeholder="{{trans('expiry_year')}}" ng-model="rechargeData.expiry_year" />
                    <input type="text" id="cvv" class="account_popup_content" placeholder="{{trans('cvv')}}" ng-model="rechargeData.cvv" />
                    <input type="text" id="billing_address1" class="account_popup_content" placeholder="{{trans('billing_address1')}}" ng-model="rechargeData.billing_address1" />
                </div>
                <div class="account_popup1">   
                    <input type="text" id="billing_country" class="account_popup_content" placeholder="{{trans('billing_country')}}" ng-model="rechargeData.billing_country" />
                    <input type="text" id="billing_city" class="account_popup_content" placeholder="{{trans('billing_city')}}" ng-model="rechargeData.billing_city" />
                    <input type="text" id="billing_postcode" class="account_popup_content" placeholder="{{trans('billing_postcode')}}" ng-model="rechargeData.billing_postcode" />
                    <input type="text" id="billing_state" class="account_popup_content" placeholder="{{trans('billing_state')}}" ng-model="rechargeData.billing_state" />
                    <input type="text" id="amount" class="account_popup_content" placeholder="{{trans('amount')}}" ng-model="rechargeData.amount" />
                    <input type="text" id="currency" class="account_popup_content" placeholder="{{trans('currency')}}" ng-model="rechargeData.currency" />
                </div>
                <button ng-click="makePayment()" class="account_popup_btns2 hvr-wobble-vertical">
                    <img src="/assets/callburn/images/refresh.png">
                    <span class="account_btns_title1 exit_credit">
                        {{trans('save_credtit')}}
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- END PAYMENT POPUP -->

    <!-- REMOVE NUMBER CONFIRMATION POPUP -->
    <div class="window" id='myModal_remove_number_content' ng-show="showRemoveNumberConfirmationModal">
        <div class="pop_up" id='myModal_remove_number'>
            <div class="pop_up_center">
                <a href="#" ng-click="closeRemoveNumberModal()"><img src="/assets/callburn/images/000.png" class="exit exit_remove_number"></a>
                <div class="pop_up_text">
                    <h1>{{trans('title_remove_number')}}</h1>
                    <span class="pop_up2_span">{{trans('text_remove_number')}}</span>
                    <div class="account_popup">
                        <a href="#" id='add_link_remove_number' class="account_popup_btns" ng-click="removeNumber(numberIdToBeRemoved)">{{trans('yes')}}</a>
                        <a href="#" class="account_popup_btns exit_remove_number" ng-click="closeRemoveNumberModal()">{{trans('no')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END REMOVE NUMBER CONFIRMATION POPUP -->

    <!-- CHANGE EMAIL POPUP -->
    <div class="window" id='myModal_email_content' ng-show="showEditEmailModal">
        <div class="pop_up" id='myModal_email' >
            <div class="pop_up_center">
                <a href="#"><img src="/assets/callburn/images/000.png" class="exit exit_email" ng-click="showEditEmailModal = false;"></a>
                <span class='error' id="error_red1" ng-show="updateEmailErrorMessage">*{{updateEmailErrorMessage}}</span>
                <div class="pop_up_text">
                    <h1>{{trans('title_edit_email')}}</h1>
                    <span class="pop_up2_span">{{trans('text_edit_email')}}</span>
                </div>
                <div class="account_popup">
                    <input type="text" id="email" class="account_popup_content" placeholder="{{trans('solder_edit_email')}}" ng-model="editEmailData.email" /> 
                    <input type="text" id="emailConfirmation" class="account_popup_content" placeholder="{{trans('solder_email_confirmation')}}" ng-model="editEmailData.email_confirmation" /> 
                    <input type="password" id="password" class="account_popup_content" placeholder="{{trans('solder_password')}}" ng-model="editEmailData.password" /> 
                </div>
                <button type="submit"  class="account_popup_btns2 hvr-wobble-vertical" ng-click="editEmail()">
                    <img src="/assets/callburn/images/refresh.png">
                    <span class="account_btns_title1 exit_email">
                        {{trans('save_password')}}
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- END CHANGE EMAIL POPUP -->

    <!-- CHANGE PASSWORD POPUP -->
    <div class="window" id='myModal_account_content' ng-show="showEditPasswordModal">
        <div class="pop_up" id='myModal_account'>
            <div class="pop_up_center">
                <a href="#"><img src="/assets/callburn/images/000.png" class="exit exit_account" ng-click="showEditPasswordModal = false;"></a>
                <span class='error' id="error_red1" ng-show="updatePasswordErrorMessage">*{{updatePasswordErrorMessage}}</span>

                <div class="pop_up_text">
                    <h1>{{trans('title_edit_password')}}</h1>
                    <span class="pop_up2_span">{{trans('text_edit_password')}}</span>
                </div>
                <div class="account_popup">
                    <input type="text" id="email" class="account_popup_content" placeholder="{{trans('email')}}" ng-model="editPasswordData.email" /> 
                    <input type="password" id="oldPassword" class="account_popup_content" placeholder="{{trans('solder_edit_password')}}" ng-model="editPasswordData.old_password" /> 
                    <input type="password" id="newPassword" class="account_popup_content" placeholder="{{trans('solder_new_password')}}" ng-model="editPasswordData.new_password" /> 
                    <input type="password" id="newPasswordConfirmation" class="account_popup_content" placeholder="{{trans('solder_password_confirmation')}}" ng-model="editPasswordData.new_password_confirmation" />
                </div>
                <button type="submit" class="account_popup_btns2 hvr-wobble-vertical" ng-click="editPassword()">
                    <img src="/assets/callburn/images/refresh.png">
                    <span class="account_btns_title1 exit_account">
                        {{trans('save_password')}}
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- END CHANGE PASSWORD POPUP -->
</div> 