<!-- Voice message schedule1 modal -->
<div class="modal_window modaleffect"  ng-init="showSchedulationModal = false;" ng-show="showSchedulationModal">
	<div class="modal_container1">
		<div class="modal_top_content modal_top_content1" ng-click="showSchedulationModal = false;">
			{{trans('modal_title_voice_message_schedule')}}
			<img src="/assets/callburn/images/exit_icon.png" class="modal_exit_icon">
		</div>
		<span class="modal_sp1">({{trans('voice_message_schedule_modal1_text_you_have_chosen')}})</span>
		<span class="modal_sp1">({{trans('voice_message_schedule_modal1_text_please_choose_one')}})</span>
		<span class="modal_sp2">({{trans('voice_message_schedule_modal1_text_in_case_of')}})</span>
		<div ng-repeat="schedulation in schedulations track by $index" class="schedule_modal_container">
			<div class="schedule_modal_first_content schedule_modal_content">
				<div class="limiters_dashed_border_modal">
					<!-- <div class="modal_border_dashed1" id="first_border_dashed_content"></div> -->
					<span class="sp2">{{trans('voice_message_schedule_modal1_schedule')}}</span>
					<!-- <div class="modal_border_dashed1" id="second_border_dashed_content"></div> -->
				</div>
				<div class="schedule_modal_first_content_container">	
					<div class="schedules_content_modal">
						<img src="/assets/callburn/images/fill-5.png" class="calendar_icon">
						<span class="limiters_container_sp">{{trans('voice_message_schedule_modal1_day_month_year')}}</span> 
						<input readonly="true" type="datetime" date-time ng-model="schedulation.date" class="datetime_input" placeholder="Select date and time" />
						<span class="limiters_container_sp">{{trans('voice_message_schedule_modal1_text_if_you_want_to_split')}}</span>
					</div>
				</div>	
			</div>
			<div class="schedule_modal_second_content schedule_modal_content">
				<div class="limiters_dashed_border">
					<!-- <div class="border_dashed2" id="first_border_dashed_content"></div> -->
					<span class="sp2">{{trans('voice_message_schedule_modal1_split_delivery')}}</span>
					<!-- <div class="border_dashed2" id="second_border_dashed_content"></div> -->
				</div>
				<div class="schedules_content_container">
					<div class="quantity">
						<span class="limiters_container_sp">{{trans('voice_message_schedule_modal1_quantity')}}</span>
						<div class="contact_count" range-slider pin-handle="min" min="1" max="getMaximum($index)" model-max="schedulation.max"></div>
						<span class="limiters_container_sp">{{schedulation.max}} {{trans('voice_message_schedule_modal1_contacts')}}</span>
					</div>
					<div class="quantity">
						<div class="schedules_content_select2" id="add_day" ng-show="$index == 0 && canAddSchedule()"  ng-click="addSchedule()">
							<div class="schedules_content_select1">
								<span>{{trans('button_add_day')}}</span>
							</div>
						</div>	
						<div class="schedules_content_select2" id="add_day" ng-show="$index != 0"  ng-click="removeSchedule($index)">
							<div class="schedules_content_select1">
								<span>{{trans('button_remove')}}</span>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="schedule_modal_third_content schedule_modal_content">
				<span class="sp2">{{trans('voice_message_schedule_modal1_message_delivery_speed')}}</span>
				<!-- <div class="limiters_dashed_border">
					<div class="modal_border_dashed3" id="first_border_dashed_content"></div>
					
					<div class="modal_border_dashed3" id="second_border_dashed_content"></div>
				</div> -->
				<div class="limiters_content_modal">
					<span class="limiters_container_sp">{{trans('voice_message_schedule_modal1_delivery_speed')}}</span>
					<img src="/assets/callburn/images/Settingicon.png" class="drop_down_arrow drop_down_arrow2" />
					<select ng-disabled="schedulation.max <= 1" class="limiters_content_select" ng-model="schedulation.sending_time">
						<option ng-selected="schedulation.sending_time == 0" value="">Max Speed</option>
						<option ng-selected="schedulation.sending_time == 30" value="30">Inside 30 minutes</option>
						<option ng-selected="schedulation.sending_time == 60" value="60">Inside 60 minutes</option>
						<option ng-selected="schedulation.sending_time == 90" value="90">Inside 90 minutes</option>
						<option ng-selected="schedulation.sending_time == 120" value="120">Inside 120 minutes</option>
					</select>
					<span class="limiters_container_sp">
						{{trans('voice_message_schedule_modal1_text_sometimes_message_delivery')}}
					</span>
				</div>
			</div>
		</div>
		<span class="modal_sp3">{{trans('voice_message_schedule_modal1_button_top_text')}}</span>
		<div class="modal_btn_container">
			<button class="callerid_container_btn" ng-click="scheduleCampaign()" ng-disabled="!canScheduleCampaign()">
				{{trans('button_save_and_send')}}
			</button>
		</div>	
	</div>
</div>
<!-- /Voice message schedule1 modale -->