<!-- Change caller id modal -->
<div class="modal_window modaleffect" ng-show="BatchesChangeMessageDeliverySpeed">
    <div class="modal_container">
        <div class="modal_top_content">
            {{trans('modal_title_change_caller_id')}}
            <img ng-click="closeModal()" src="assets/callburn/images/exit_icon.png" class="modal_exit_icon">
        </div>
        <span class="modal_sp1">{{trans('change_caller_id_modal_text_choose_a_different')}}</span>
        <div class="modal_table_container">
            <div class="table-responsive">
                <table class="table" data-ng-if="currentUser.numbers">
                    <tr class="table_first_tr">
                        <td>{{trans('change_caller_id_modal_table_caller_id')}}</td>
                        <td>{{trans('change_caller_id_modal_table_name')}}</td>
                    </tr>
                    <tr ng-class="{selected_row: selectedCallerId == number.phone_number}" ng-repeat="number in currentUser.numbers" ng-click="callerIdSelected(number.phone_number)">
                        <td class="modal_table_td">
                            <p class="table_p">
                                {{number.phone_number}}
                            </p>
                        </td>
                        <td class="modal_table_td">{{trans('change_caller_id_modal_table_no_name_specified')}}</td>
                    </tr>
                </table>
                <div class="empty_table" data-ng-if="currentUser.numbers == null">{{trans('empty_table_text')}}</div>
            </div>
        </div>
        <span class="modal_sp1">{{trans('change_caller_id_modal_text_remember_that_you')}}</span>
        <div class="modal_btn_container">
            <button class="modal_send_btn" ng-click="changeCallerId()">{{trans('button_use_chosen_caller_id')}}</button>
        </div>
    </div>
</div>
<!-- /Change caller id -->