<!-- CONFIRM TTS -->
<div class="modal_window modaleffect">
	<div class="modal_container">
		<div class="modal_top_content">
			NOTE
			<img src="/assets/callburn/images/exit_icon.png" class="modal_exit_icon" ng-click="showTtsNotificationModal = false;">
		</div>
		<span class="modal_sp1">Making this action will charge 0.01 from your balance.</span>
		<span class="modal_sp1">Do you want to continue?</span>
		<div class="modal_btn_container">
			<button class="modal_save_btn" ng-click="acceptTtsNote()">
				<span class="modal_btn">Yes</span>
			</button>
			<button class="modal_save_btn" ng-click="showTtsNotificationModal = false;">
				<span class="modal_btn">No</span>
			</button>
		</div>
	</div>
</div>
<!-- END CONFIRM TTS -->