@import "../../../../../bower_components/angular-growl-v2/build/angular-growl.css";
@import "../../../../../bower_components/flex-calendar/dist/flex-calendar.css";
@import "../../../../../bower_components/angular-ui-select/dist/select.css";

.growl-container.growl-fixed{
  z-index: 10005!important;
}

.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
}

.calendar{
  .calendar-span{
    color: $callburn-blue;
    display: block;
    text-align: center;
    font-family: Helvetica-Bold;
  }
  .modal-title{
    text-align: center;
  }
  .flex-calendar{
    .month{
      background-color: $white;
      .label{
        color: $callburn-blue;
        text-align: center;
        font-family: Helvetica-Light;
        display: block;
        margin: 0 auto;
      }
      .arrow{
        padding: 0;
        background-image: url("../images/LeftCalendarArrow@2x.png");
        position: absolute;
        top: 125px;
        z-index: 9999;
        margin-left: -26px;
      }
    }
    .days{
      .day{
        min-height: 40px;
        line-height: 32px;
        font-family: Helvetica-Light;
        font-size: 14px;
        &.disabled{
          .color-picker{
            display: none!important;
          }
        }

        &.selected{

          .number{
            background-color: $white;
            &.many-color{
              .visible{
                display: block;
              }
            }
            &.red{
              background-color: $callburn-orange;
            }
            &.blue{
              background-color: $callburn-blue;
            }
            &.yellow{
              background-color: $callburn-yellow;
            }
            &.piruze{
              background-color: $callburn-piruze;
            }

            border-radius: 0;

          }
        }
        .number{
          max-width: 40px;
          line-height: 30px;
          .color-picker{
            display: none;
          }
          &:hover{
          .color-picker{
            width: 140px;
            display: block;
            position: absolute;
            margin-top: -10px;


            z-index: 9999;
            div{
              width: 20px;
              height: 20px;
              margin-left: 4px;
              i{
                display: block;
                text-align: center;
                  margin-left: -6px;
                  color: #fff;
                  margin-top: 2px;
              }
              &.red{
                background-color: $callburn-orange;
              }
              &.blue{
                background-color: $callburn-blue;
              }
              &.yellow{
                background-color: $callburn-yellow;
              }
              &.piruze{
                background-color: $callburn-piruze;
              }
            }

          }
          }

          &:before{
            content: "";
            display: block;
          }
          span{
            position: absolute;
            display: block;
            text-align: center;
            color: #005b82;
            left: 39%;
            top: 7px;
            font-family: Helvetica-Light;
            &.selected{
              color: $white;
            }
            &.current-day{
              font-family: Helvetica-Bold;
              font-size: 15px;
            }

          }
          .mini-div{
            width: 50%;
            height: 20px;
            display: none;
            float: left;
            &.visible{
              display: block;
            }
            &.blue{
              background-color: $callburn-blue;
            }
            &.yellow{
              background-color: $callburn-yellow;
            }
            &.red{
              background-color: $callburn-orange;
            }
            &.piruze{
              background-color: $callburn-piruze;
            }
          }
        }
      }
    }
    .week{
      background-color: $white;
      .day{
        color: #005b82;
        font-family: Helvetica-Light;
        font-size: 12px;
      }
    }
  }
  .color-choser{
    margin-top: 50px;

    div{
      margin-top: 17px;
      height: 50px;
      &.blue{
        background-color: $callburn-blue;
      }
      &.red{
        background-color: $callburn-orange;
      }
      &.yellow{
        background-color: $callburn-yellow;
      }
      &.piruze{
        background-color: $callburn-piruze;
      }
    }
  }
  .timer-chooser{
    margin-top: 15px;
    .row{
      &:first-child{
        margin-top: 0;
      }
      margin-top: 17px;
    }
    img{
      display: block;
      margin: 0 auto;
    }
    span{
      display: block;
      text-align: center;
      color: $callburn-blue;
    }
  }
  .image-select{
    height: 10px;
    width: auto;
    margin-top: 5px;
  }
  .select{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .speed-chooser{
    margin-top: 15px;
    img{
      display: block;
      margin: 0 auto;
    }
    .speed{
      margin-bottom: 18px;
      min-height: 56px;
      &:first-child{
        margin-top: 0;
      }

    }

    input[type=range] {
    -webkit-appearance: none;
    margin-top: 22px;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }


  input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    border: 1px solid  $callburn-blue;
    background: $callburn-blue;
  }


    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px  $callburn-blue;
      border: 1px solid  $callburn-blue;
      height: 10px;
      width: 10px;
      background: $white;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -2px;
    }


    input[type=range]::-moz-range-track {
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 1px #000;
      background: $callburn-blue;
      border: 1px solid #575656;
    }


    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px  $callburn-blue;
      border: 1px solid  $callburn-blue;
      height: 36px;
      width: 16px;
      border-radius: 40%/60%;
      background: $white;
      cursor: pointer;
    }
  }
  .add-remove-buttons{
    margin-top: 70px;
    button{
      min-height: 30px;
      width: 30px;
      padding: 0;
    border-radius: 100%;
    margin-bottom: 40px;

    }
  }
  .choose-day{

    min-height: 50px;
    .week-day{
      width: 14.2%;
      height: 40px;
      border: 2px solid $callburn-blue;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      cursor: pointer;
      &.blue{
        background-color: $callburn-blue;
        border: 2px solid $callburn-blue;
        color: $white;
      }
      &.red{
        background-color: $callburn-orange;
        border: 2px solid $callburn-orange;
        color: $white;
      }
      &.yellow{
        background-color: $callburn-yellow;
        border: 2px solid $callburn-yellow;
        color: $white;
      }
      &.piruze{
        background-color: $callburn-piruze;
        border: 2px solid $callburn-piruze;
        color: $white;
      }
      span{
        margin-top: 10px;
        display: block;
      }
    }
    &.for{
      padding-left: 5px;
      padding-right: 5px;
      span{
      display: block;
      margin-top: 10px;

      }
    }
    &.input{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .day-items{
    margin-top: 60px;
    .days-margin{
      margin-bottom: 20px;
    }
  }
  .text{
    margin-top: 30px;
    .text-red{
      span{
        display: block;
        text-align: center;
        color: $callburn-orange;
        font-family: Helvetica-Bold;
      }
      .item{
        display: block;
        color: $callburn-gray;
        font-size: 30px;
      }
    }
    .footer-text{
      display: block;
      color: $callburn-orange;
      clear: both;
      text-align: center;
      padding-top: 50px;
    }
  }
}
.today{
  float: left;
  clear: both;
  margin-top: 6px;
  position: absolute;
  margin-left: -68px;
  color: $white;
  background-color: #005b82;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

@media (min-width: 992px){
  .modal-lg {
    width: 1300px;
  }
}
.choose-days{

  &.no-to-show{
    margin-top: 60px;
    .error{
      color: $callburn-orange;
    }
    .disabled-text{
      display: block;
      text-align: justify;
      color: $callburn-blue;
    }
  }
}