<div id="footer">
	<div class="logo_container">
		<a ui-sref="dashboard">
			<img src="/assets/callburn/images/logo1.png" class="logo" />
		</a>
		<div class="footer_select" ng-click="showHideLanguageBar()">
			<img src="/assets/callburn/images/dropdown_arrow.png" class="dropdown_arrow">
			<callburn-select
					ng-model="items"
					options="CampaignComposeService.ttsLanguages"
					show-attr="languageName"
					keep-attr='languageId'
					image-attr="flags"
					image-url="/assets/callburn/images/Attachment.png"
					select-text="Here set text" ng-change="changeLanguage('en')">
			</callburn-select>
			<!--<div class="footer_select_div">
				<ul>
					<li>
						<img ng-show="currentLanguage == 'en'" src="/assets/callburn/images/uk.png" />
						<span>EN</span>

						<img ng-show="currentLanguage == 'ru'" src="/assets/callburn/images/russia.png" />
						<span>RU</span>

						<img ng-show="currentLanguage == 'it'" src="/assets/callburn/images/italy.png" />
						<span>IT</span>

						<img ng-show="currentLanguage == 'es'" src="/assets/callburn/images/spain.png" />
						<span>ES</span>
					</li>
				</ul>
			</div>

			<div class="language_open" ng-show="showLanguageSelect">
				<ul>
					<a class="active" ng-click="changeLanguage('en')">
						<li>
							<img src="/assets/callburn/images/uk.png" />
							<span>EN</span>
						</li>
					</a>
					<a  class="active"  ng-click="changeLanguage('es')">
						<li>
							<img src="/assets/callburn/images/spain.png" />
							<span>ES</span>
						</li>
					</a>
					<a class="active"  ng-click="changeLanguage('ru')">
						<li>
							<img src="/assets/callburn/images/russia.png" />
							<span>RU</span>
						</li>
					</a>
					<a  class="active"  ng-click="changeLanguage('it')">
						<li>
							<img src="/assets/callburn/images/italy.png" />
							<span>IT</span>
						</li>
					</a>
				</ul>
			</div>	-->
		</div>
	</div>
	<div id="footer_menu">
		<ul id="footer_menu_content">
			<li>
				<a href="#">{{trans('funciona')}}</a>
			</li>
			<li>
				<a href="">{{trans('faq')}}</a>
			</li>
			<li>
				<a href="">{{trans('politica')}}</a>
			</li>
			<li>
				<a href="">{{trans('how_is_works')}}</a>
			</li>
			<li>
				<a href="">{{trans('contacto')}}</a>
			</li>
		</ul>
	</div>
</div>