<div class="financials_container">
	<span class="financials_sp6">
		{{trans('account_financials_step2_text1')}} {{invoice.hash | removeFirstPart}}, {{trans('account_financials_step2_text2')}} €{{invoice.total}} {{trans('account_financials_step2_text3')}}
	</span>
	<div class="financials_content_first_container">
		<div class="bank_account_details_container">
			<div class="financials_div1">Ing Direct Spain</div>
			<div class="details_content">
				<span class="financials_sp7">Bank Account Details</span>
				<span class="financials_sp8">IBAN: ES 10 14650 10093 1900062427</span>
				<span class="financials_sp8">SWIFT/BIC CODE: INGDESMMXXX</span>
			</div>
		</div>
	</div>
	<div class="financials_content_second_container">
		<span class="financials_sp1">{{trans('account_financials_step2_orderid')}} {{invoice.hash | removeFirstPart}}</span>
		<div class="financials_third_content">
			<div class="financials_sp_container">
				
				<div class="financials_sp_contant">
					<span class="financials_sp4">{{trans('account_financials_total1')}}</span>
					<span class="financials_sp5">€ {{invoice.amount}}</span>
				</div>
				<div class="financials_sp_contant">
					<span class="financials_sp4">{{trans('account_financials_total2')}} ({{invoice.vat_percentage}}%)</span>
					<span class="financials_sp5">€ {{invoice.vat_amount}}</span>
				</div>
				<div class="financials_sp_contant">
					<span class="financials_sp4">{{trans('account_financials_total3')}}</span>
					<span class="financials_sp5">€ {{ invoice.total}}</span>
				</div>
			</div>
		</div>	
	</div>
</div>